{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block profile %}
    <p class="welcome mr-1">Welcome, {{ user.get_username }}!</p><a href="{% url 'logout' %}">Log Out</a>
{% endblock %}

{% block content %}
<div class="col-md-10 offset-md-2">
    <div class="container-fluid">
        <div class="row my-3"><u>Edit User</u></div>
        <form class="edituser" method="post">
            {% csrf_token %}
            {{ form.first_name|as_crispy_field }}
            {{ form.last_name|as_crispy_field }}
            {{ form.username|as_crispy_field }}
            {{ form.password|as_crispy_field }}
            {{ form.confirm|as_crispy_field }}
            {{ form.email|as_crispy_field }}
            {{ form.user_type|as_crispy_field }}
            
            <input type="checkbox" name="activebox" class="my-4" {% if user.is_active %}checked{% endif %}> Active<br>

            <div class="submit">
                <button type="submit" class="btn btn-outline-dark my-2">Submit</button>
            </div> 
        </form>
        <div class="grouplist">
            {% for group in gr %}
            <p>{{ group }}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}