{% extends "base_generic.html" %}

{% block extra_css %}
    <style>
        .base {border-bottom: 100vh solid #ffcc00 !important;}
    </style>
{% endblock %}

{% block sidebar %}<!-- overwrite sidebar -->{% endblock %}

{% block content %}
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>Enter valid email address: {{ form.email }}</p> 
      <div class="submit">
        <button type="submit" class="btn btn-outline-dark btn-lg my-2">Reset Password</button>
      </div>
  </form>
{% endblock %}